.solutions {
    display: grid;
    width: 100%;
    min-height: 60vh;
    background: url('../../assets/images/solution-bg.jpg');
    backdrop-filter: blur(12px);
    background-size: cover;
    background-position: center;
    align-items: center;
    font-family: Poppins;
    padding-bottom: 10%;
}

.solution img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    filter: drop-shadow(0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
    cursor: pointer;
}

.solution {
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(135deg, #1C1A99, #090933);
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 31%;
}

.solution p {
    color: white;
    text-align: center;
    font-weight: 500;
}

.solution-name {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 800;
}

.row-solutions {
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}