.header {
    display: flex;
    justify-content: space-between;
    
}

.logo {
    width: 10rem;
    height: 5rem;
}

.headerMenu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: black;
    padding-right: 1rem;
}

.headerMenu>li{
    cursor: pointer;
}

.headerMenu>li:hover{
    cursor: pointer;
    color: blueviolet;

}